<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="CRM" connectionString="AuthType=Office365;Url=https://natedemo2016test.crm.powerobjects.net; Username=joe@joegilltest.onmicrosoft.com; Password=MyPassword" />
  </connectionStrings>
</configuration>